<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
		<key>CLIENT_ID</key>
		<string>232763061335-2ch4scho5ahoint8etpfnamcrifol7r1.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.232763061335-2ch4scho5ahoint8etpfnamcrifol7r1</string>
		<key>API_KEY</key>
		<string>AIzaSyCj30oS3qNoTi8rfiDjxbXdSGiq4mtB80k</string>
		<key>GCM_SENDER_ID</key>
		<string>232763061335</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>br.thiago.brinquedos</string>
		<key>PROJECT_ID</key>
		<string>brinquedos-2c1cb</string>
		<key>STORAGE_BUCKET</key>
		<string>brinquedos-2c1cb.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false/>
		<key>IS_ANALYTICS_ENABLED</key>
		<false/>
		<key>IS_APPINVITE_ENABLED</key>
		<true/>
		<key>IS_GCM_ENABLED</key>
		<true/>
		<key>IS_SIGNIN_ENABLED</key>
		<true/>
		<key>GOOGLE_APP_ID</key>
		<string>1:232763061335:ios:55f03d24463e52bbce5f12</string>
	</dict>
</plist>
